<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Settings</title>
</head>
<body>
	<div align="center">
		<div style="width: 500px; height: 270px; border: double">
			<div style="text-align: right; cursor: pointer" onclick="window.location = '@Url.Action("Index","Login")'">Logout</div>

			<table>
				<tr>
					<th>Date format:</th>
					<td>
						<select id="dateFormat">
							<option>dd/MM/yyyy</option>
							<option>dd-MM-yyyy</option>
							<option>MM/dd/yyyy</option>
							<option>MM dd yyyy</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Number format:</th>
					<td>
						<select id="numberFormat">
							<option>123,456,789.00</option>
							<option>123.456.789,00</option>
							<option>123 456 789.00</option>
							<option>123 456 789,00</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Default currency:</th>
					<td>
						<select id="currency">
							<option>$ - US dollar</option>
							<option>&euro; - euro</option>
							<option>&pound; - Great Britain Pound</option>
						</select>
					</td>
				</tr>
				<tr><td style="height: 50px" /></tr>
			</table>

			<div align="center">
				<button onclick="Save(); window.location = '@Url.Action("Index", "Deposit")';" title="Save" id="save">Save</button>
				<button onclick="window.location = '@Url.Action("Index", "Deposit")'" title="Save" id="cancel">Cancel</button>
			</div>
		</div>
	</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    var dateFormat = document.getElementById('dateFormat');
    var numberFormat = document.getElementById('numberFormat');
    var currency = document.getElementById('currency');

    function Save() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Save", "Settings")',
            data: {
				'dateFormat' : dateFormat.options[dateFormat.selectedIndex].textContent,
				'numberFormat' : numberFormat.options[numberFormat.selectedIndex].textContent,
				'currency' : currency.options[currency.selectedIndex].textContent
            },

            dataType: 'json',
            success: function (response) {
                alert('Changes are saved!');
            }
        });
    }

    function select(dropdown, value) {
        for (var i = 0; i < dropdown.options.length; i++) {
            if (dropdown.options[i].text === value) {
                dropdown.selectedIndex = i;
                break;
            }
        }
    }

    function Get () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Get", "Settings")',
            dataType: 'json',
            success: function (response) {
                select(dateFormat, response.DateFormat);
                select(numberFormat, response.NumberFormat);
                select(currency, response.Currency);
            }
        });
    }

    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    function show(id) { document.getElementById(id).style.display = "initial"; }
    function hide(id) { document.getElementById(id).style.display = "none"; }

    Get();
    hide('save');
    hide('cancel');

    sleep(500).then(() => {
        show('save');
        sleep(500).then(() => show('cancel'));
    });
	</script>
</body>
</html>